input {
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 4px;
}

@include desktop {
    button {
        padding: 14px 40px 11px 40px;
        font-size: 1.8rem;
        line-height: 2rem;
        border-radius: 4px;
        cursor: pointer;
        border: 0px;
        &.primary {
            @include background-image(linear-gradient(to bottom, #fbea00, #f9b600));
            color: #c04800;
            border-color: #F0C342;
            font-weight: 600;
        }
    }
}
@include handheld {
    button {
        padding: 10px 30px 8px 30px;
        font-size: 1.3rem;
        line-height: 1.6rem;
        border-radius: 4px;
        cursor: pointer;
        border: 0px;
        &.primary {
            @include background-image(linear-gradient(to bottom, #fbea00, #f9b600));
            color: #c04800;
            border-color: #F0C342;
            font-weight: 600;
        }
    }
}


.recording-btn {
    background-color: #ff4c4c;
    color: #fff;
    .record-btn-txt {
        vertical-align: middle;
    }

    @include desktop {
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding: 10px 10px 8.5px 10px;
        vertical-align: middle;
        .record-svg {
            width: 14px;
            height: 14px;
            vertical-align: middle;
            margin-right: 6px;
        }

        &.lg {
            font-size: 1.8rem;
            line-height: 2.1rem;
            padding: 13px 10px 11px 10px;
            .record-svg {
                width: 18px;
                height: 18px;
            }
        }
    }
    @include handheld {
        font-size: 0.8rem;
        line-height: 0.8rem;
        padding: 5px;
        .record-svg {
            width: 7px;
            height: 7px;
            vertical-align: middle;
            margin-right: 3px;
        }
        &.lg {
            font-size: 1.6rem;
            line-height: 1.6rem;
            padding: 15px 30px;
            .record-svg {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}



body {
    font-family: 'Barlow', sans-serif;
}
.bold {
    font-weight: bold;
}
@include desktop {
    .mobile-only {
        display: none;
    }
}
@include handheld {
    .desktop-only {
        display: none;
    }
}


.rc-modal-wrap {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: $modalZIndex;
    
    
    -webkit-overflow-scrolling: touch;
    
    @include desktop {
        & {

        }
        .rc-modal-box {
            position: relative;
        }

        .modal-close-icon {
            color: #fff;
            cursor: pointer;
            position: absolute;
            right: 30px;
            top: 30px;
            width: 20px;
            height: 20px;

        }
        .rc-modal-box {
            background-color: #fff;
            width: 1266px;
            //width: 640px;
            margin: 100px auto 0 auto;
            padding: 70px;

        }
        
    }

    @include handheld {

        & {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0px 20px;
        }
        
        .rc-modal-box {
            background-color: transparent;
            width: 100%;
            
        }
        .modal-close {
            
            margin-right: 16px;
            font-size: 3rem;
            line-height: 3.5rem;
            color: #fff;
            text-align: center;
        }
        .modal-close-icon {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 15px;
        
        }
    }
}
