.gamezy-footer {
    b {
        font-weight: bold;
    }
   
    @include desktop {
        .win-rewards {
            background: transparent;
            padding-top: 90px;
        }
        .reward-details {
            background: #fff;
            margin: 0 100px;
            padding: 30px 15px;
        }
        h4 {
            font-size: 3.2rem;
            color: #fff;
            margin-bottom: 30px;
            font-weight: 100;
        }
        .rewards {
            display: flex;
        }
        .brand-logos {
            flex: 1;
            img {
                max-width: 130px;
                padding: 12px;
                max-height: 60px;
            }
            
        }

        footer {
            background: #1f0099;
        }

        .spread-love {
            background: transparent;
            margin: 0 100px;
            padding: 30px 15px;
            p {
                font-size: 2rem;
                color: #fff;
            }
        }

        .spread-love-desc {
            vertical-align: middle;
            display: inline-block;
            width: 50%;
            h4  {
                margin-bottom: 0px;
            }
        }
        .spread-love-social {
            vertical-align: middle;
            display: inline-block;
            width: 50%;
            text-align: right;
            img {
                width: 34px;
                margin: 20px;
            }
            
        }
        .bottom-footer {
            margin: 15px 100px;
            color: white;
            h4 {
                font-size: 19px;
                margin: 20px 0;
                line-height: 1.5;
                color: #ffffffa6;
                b {
                    color: #fff;
                }
            }

            p {
                font-size: 17px;
                opacity: 0.6;
            }

        }

        .footer-info {
            display: inline-block;
        }

        .sep {
            border-right: 1.5px solid #3607ef;
            padding-right: 43px;
            margin-right: 25px;
        }

        h3 {
            font-weight: bold;
            font-size: 35px;
        }
        .at-last {
            padding-bottom: 20px;
            background-color: #170070;
        }
        .b-f {
            margin: 0 100px;
            padding: 30px 0px;
        }
        .b-left {
            display: inline-block;
            vertical-align: middle;
            width: 60%;
            color: #fff;

            
        }
        .b-li-a {
            color: #ffffffa3;
            padding: 15px 25px 0 0;
            display: inline-block;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
        .b-li {
            display: inline-block;
            list-style-type: none;
        }
        .b-right {
            display: inline-block;
            vertical-align: middle;
            width: 40%;
            text-align: right;
            p{
                padding: 15px 25px 0 0;
                color: #ffffffb0;
            }
           
        }

    }
    @include handheld {
        .rewards-title, .spread-love-title {
            color: #0a082e;
        }
        .win-rewards {
        }
        .reward-details {
            background: #fff;
            padding: 30px;
        }
        h4 {
            font-size: 3.2rem;
            color: #fff;
            margin-bottom: 30px;
            font-weight: 100;
        }
       

        .rewards {
            display: flex;
            flex-direction: column;
        }
        .brand-logos {
            flex: 1;
            img {
                max-width: 130px;
                padding: 12px;
                max-height: 60px;
            }
            
        }

        footer {
            background: #1f0099;
        }

        .spread-love {
           
            background: hsl(229, 65%, 97%);
            padding: 30px 15px;
            p {
                font-size: 2rem;
                color: #63626b;
            }
        }

        .spread-love-desc {
            h4  {
                margin-bottom: 0px;
            }
        }
        .spread-love-social {
            text-align: center;
            
            img {
                width: 34px;
                margin: 20px;
            }
            
        }
        .bottom-footer {
            padding: 30px 15px;
            color: white;
            h4 {
                font-size: 19px;
                margin: 20px 0;
                line-height: 1.5;
                color: #ffffffa6;
                b {
                    color: #fff;
                }
            }

            p {
                font-size: 17px;
                opacity: 0.6;
            }

        }

        .footer-info {
        }

        .sep {
        }

        h3 {
            font-weight: bold;
            font-size: 35px;
        }
        .at-last {
            padding-bottom: 20px;
            background-color: #170070;
        }
        .b-f {
            padding: 30px 15px;
        }
        .b-left {
            color: #fff;

            
        }
        .b-li-a {
            color: #ffffffa3;
            padding: 15px 25px 0 0;
            display: inline-block;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }
        .b-li {
            display: block;
            list-style-type: none;
        }
        .b-right {
            p{
                padding: 15px 25px 0 0;
                color: #ffffffb0;
            }
           
        }

    }
}