.site-header {
    //@include background-image(linear-gradient(to right, $red80, $red100));
    @include background-image(linear-gradient(to bottom, $purple60, $purple60));
    // padding: 16px;


    
}

header {
    .header-logo {
        font-weight:  bold;
        font-size: 2.2rem;
        line-height: 1.4;
        color: #fff;
        text-decoration: none;
        
    }

    @include desktop {
        padding-top: 50px;
        .logo-svg {
            width: 200px;
            height: 37px;
        }
        .login-btn {
            float: right;
        }
    }
    @include handheld {
        padding-top: 20px;
        text-align: center;
        .logo-svg {
            width: 160px;
            height: 30px;
        }
        .login-btn {
            display: none;
        }
    }
   
}