.home {
    background-color: #f1f3fc;
}
.home-page-content {
    color: $textprimary;
    
   h1 {
       color: #fff;
   }
    .money-label {
        color: #ffde17;
        font-weight: bold;
    }
    .site-main {
        //@include background-image(linear-gradient(to right, $red80, $red100));
       
        padding: 16px 16px 0 16px;
    }
   
    .home-content {
        display: flex;
    }
    .header-logo {
        flex: 1;
        text-align: center;
    }
    
   
    
    .recording-video {
        cursor: pointer;
    }
    .video-preview {
        display: none;
    }
    .stop-recording-btn {
        display: none;
    }
    .submitted-video-thumb {
        width: 100%;
    }
    @include handheld {

        .site-main {
            padding: 45px 16px 36px 16px;
            background-color: rgba($purple100, 0.9);
            text-align: center;
            color: #fff;
        }
        h1 {
            margin-bottom: 23px;
            margin-top: 62px;
            font-size: 2.8rem;
            line-height: 4.4rem;
        }
        .contract {
            display: none;
            color: rgba(#fff, 0.8);
            font-size: 1.8rem;
            line-height: 2.7rem;
             margin-bottom: 36px;
        }
        .play-svg {
            width: 18px;
            height: 18px;
            margin-right: 12px;
            vertical-align: middle;
        }
        .watch-video {
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #fff;
            vertical-align: middle;
        }
        .play-video {
            margin-bottom: 43px;
            border: 1px solid #fff;
            border-radius: 22px;
            padding: 10px 24px;
            display: inline-block;

        }
       
        
        .step-no {
            color: $purple100;
            font-size: 1.1rem;
            line-height: 1.1rem;
            padding-top: 2px;
            width: 16px;
            height: 16px;
            text-align: center;
            display: inline-block;
            margin-right:16px;
            border-radius: 2px;
            border: 1px solid rgba(#5d34de, 0.2);
            background-color: #fff;
         }
       
        .sign-up-step {
            margin-bottom: 15px;
        }
        .sign-up-desc {
            text-align: left;
            font-size: 1.6rem;
            line-height: 1.6rem;
            display: inline-block;
            vertical-align: top;
            width: calc(100% - 60px);
        }
        .start-recording {
            padding: 40px 0px 60px 20px;
            background-color: #f1f3fc;
            
        }
        .recording-svg {
            width: 26px;
            height: 32px;
            vertical-align: middle;
        }
        .start-recording-title {
            font-size: 1.8rem;
            line-height: 2.4rem;
            vertical-align: middle;
            display: inline-block;
            margin-left: 15px;
            width: calc(100% - 42px);
        }
        .start-commentary-text {
            display: block;
        }
        .recording-videos {
            margin-top: 20px;
            white-space: nowrap;
            overflow: scroll;
        }
        .recording-visual {
            position: relative;
            
        }
        .recording-thumb {
            //@include imgRetina(assets/images/bitmap, jpg, 100%, 423px);
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .recording-video {
            
            width: 250px;
            border-radius: 5px;
            margin-right: 20px;
            display: inline-block;
            vertical-align: top;

            
        }
        .play-recording-svg {
            width: 40px;
            height: 40px;
            position: absolute;
            cursor: pointer;
            top: calc(50% - 20px);
            left: calc(50% - 20px);
        }
        .recording-video-title {
            color: #0a082e;
            font-size: 1.2rem;
            line-height: 1.8rem;
            font-weight: 500;
            margin-bottom: 6px;
        }
        .recording-video-info {
            background-color: #fff;
            padding: 10px;
        }
        .recording-ts {
            color: #fff;
            font-size: 0.8rem;
            line-height: 0.8rem;
            position: absolute;
            right: 10px;
            bottom: 10px;
            padding: 3px;
            background-color: #0a082e;
            border-radius: 2px;
        }
        .recording-label {
            color: #150000;
            font-size: 0.8rem;
            line-height: 0.8rem;
            background-color: #ffce00;
            padding: 3px;
            position: absolute;
            left: 10px;
            bottom: 10px;
            border-radius: 2px;
        }
        .recording-btn {
            
            vertical-align: middle;
        }
        .start-recording-link 
        {
            position: absolute;
            left: 30px;
            left: calc(50% - 110px);
            bottom: 10px;
        }
        
        .submitted-videos-section {
            padding: 60px 0px 60px 20px;
            background-color: #fff;
        }
        .submitted-videos {
            margin-top: 30px;
            white-space: nowrap;
            overflow: scroll;
        }
        .submitted-video {
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
        }
        .submitted-video-thumb {
            // @include imgRetina(assets/images/video-thumb, jpg, 210px, 128px);
            // width: 210px;
            // height: 128px;
        }
        .submitted-video-info {
            padding: 14px;
            

        }
        .submitted-video-author {
            font-weight: bold;
            font-size: 0.65rem;
            line-height: 0.65rem;
            margin-bottom: 6px;
        }
        .submitted-video-date {
            font-size: 0.65rem;
            line-height: 0.65rem;
            margin-bottom: 6px;
            color: rgba($textprimary, 0.6);
        }
        

        .opinion {
            background-color: #f1f3fc;
            padding: 40px 20px;
        }
         .opinion-title {
             font-size: 22px;
             line-height: 33px;
             color: #0a082e
        }
         .opinion-desc {
             font-size: 1.4rem;
             line-height: 2.2rem;
             color: rgba($textprimary, 0.7);
             margin-top: 20px;
             margin-bottom: 42px;
         }
         
         .opinion-question {
             font-size: 1.6rem;
             line-height: 2.4rem;
             color: $textprimary;
             font-weight: bold;
         }
         .video-el {
            width: 100%;
            margin-bottom: 20px;
        }

    }

    @include desktop {
       
       
        .site-main {
            color: #fff;
            padding: 0px 16px 74px 16px;
            @include background-image(linear-gradient(to right, $purple100, $purple100 10%, rgba(0, 0, 0, 0)));
        }
        h1 {
            margin-bottom: 24px;
            margin-top: 85px;
            font-size: 5rem;
            line-height: 6.4rem;
        }
        .main-content {
            display: flex;
            align-items: center;

        }
        .desktop-main {
            text-align: left;
            flex: 1;
        }
        .play-svg {
            width: 32px;
            height: 32px;
            margin-right: 12px;
            vertical-align: middle;
            text-align: center;
            flex: 1;
        }
        .watch-video {
            font-size: 2.2rem;
            line-height: 1;
            color: #fff;
            vertical-align: middle;
        }
       .opinion {
           background-color: #f1f3fc;
           padding: 70px 0px;
       }
        .opinion-title {
            font-size: 32px;
            line-height: 52px;
            color: #0a082e
       }
        .opinion-desc {
            font-size: 1.8rem;
            line-height: 3.3rem;
            color: rgba($textprimary, 0.7);
            margin-top: 50px;
            margin-bottom: 36px;
        }
        .opinion-wrap {
            width: 60%;
        }
        .opinion-question {
            font-size: 2.6rem;
            line-height: 3.3rem;
            color: $textprimary;
            font-weight: bold;
        }
        .label-info {
            margin: 16px 0px;
            display: block;
            color: #fff;
        }

        .contract {
            font-size: 2.4rem;
            line-height: 2.4rem;
            margin-top: 24px;
            margin-bottom: 50px;
            color: #fff;
        }

        
       .step-no {
           color: $purple100;
           font-size: 1.4rem;
           line-height: 1.4rem;
           padding-top: 3px;
           width: 20px;
           height: 20px;
           text-align: center;
           display: inline-block;
           margin-right:16px;
           border-radius: 2px;
           border: 1px solid rgba(#5d34de, 0.2);
           background-color: #fff;
        }
        .sign-up-step {
            margin-bottom: 20px;
        }
        .sign-up-desc {
            font-size: 2rem;
            line-height: 2.4rem;
            display: inline-block;
            width: calc(100% - 40px);
        }
        .start-recording {
            background-color: #f1f3fc;
            padding: 60px 87px 15px 87px;
            h2 {
                padding-bottom: 28px;
                border-bottom: 2px solid #e0e6ff;
            }
        }
        .recording-svg {
            width: 47px;
            height: 58px;
            vertical-align: middle;
            display: inline-block;
        }
        .start-recording-title {
            font-size: 3.2rem;
            line-height: 4.4rem;
            vertical-align: middle;
            display: inline-block;
            margin-left: 23px;
            width: calc(100% - 70px);
        }
        .start-commentary-text {
            display: block;
        }
        .recording-videos {
            margin-top: 60px;
        }
        .recording-visual {
            position: relative;
            
        }
        .recording-thumb {
            //@include imgRetina(assets/images/bitmap, jpg, 100%, 423px);
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
        .recording-video {
            
            width: calc(33% - 35px);
            border-radius: 5px;
            margin-right: 53px;
            margin-bottom: 50px;
            display: inline-block;
            vertical-align: top;
            &:nth-child(3), &:nth-child(6) {
                margin-right: 0px;
            }
        }
        .play-recording-svg {
            width: 28px;
            height: 28px;
            position: absolute;
            cursor: pointer;
            top: calc(50% - 14px);
            left: calc(50% - 14px);
        }
        .recording-video-title {
            color: #0a082e;
            font-size: 1.8rem;
            line-height: 2.8rem;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .recording-video-info {
            background-color: #fff;
            padding: 20px;
        }
        .recording-ts {
            color: #fff;
            font-size: 1.2rem;
            line-height: 1.2rem;
            position: absolute;
            right: 10px;
            bottom: 10px;

            padding: 3px;
            background-color: #0a082e;
            border-radius: 2px;
        }
        .recording-label {
            color: #150000;
            font-size: 1.2rem;
            line-height: 1.2rem;
            background-color: #ffce00;
            padding: 3px;
            position: absolute;
            left: 10px;
            bottom: 10px;
            border-radius: 2px;
        }
        
        .submitted-videos-section {
            padding: 80px 87px 75px 87px;
            background-color: #fff;
            
            h2 {
                padding-bottom: 28px;
                border-bottom: 2px solid #e0e6ff;
            }
        }
        .submitted-videos {
            margin-top: 60px;
            white-space: nowrap;
            overflow: scroll;
        }
        .submitted-video {
            margin-right: 10px;
            display: inline-block;
            vertical-align: top;
            width: calc(33% - 35px);
            margin-right: 50px;
        }
        .submitted-video-thumb {
            // @include imgRetina(assets/images/video-thumb, jpg, 100%, 237px);
            // width: 100%;
            // height: 237px;
        }
        .submitted-video-info {
            padding: 19px 25px;
            background-color: #fff;

        }
        .submitted-video-author {
            font-weight: bold;
            font-size: 1.2rem;
            line-height: 1.2rem;
            margin-bottom: 6px;
        }
        .submitted-video-date {
            font-size: 1.2rem;
            line-height: 1.2rem;
            margin-bottom: 6px;
            color: rgba($textprimary, 0.6);
        }

        .video-el {
            width: 100%;
            margin-bottom: 20px;
        }
        

      
    }

}