@import "compass";

// retina image
@mixin imgRetina($image, $extension, $width, $height, $position: center, $repeat: no-repeat) {
    background: url($image + '.' + $extension) $repeat $position;
         
    @media 
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (   min--moz-device-pixel-ratio: 2),
    screen and (   -moz-min-device-pixel-ratio: 2),
    screen and (     -o-min-device-pixel-ratio: 2/1),
    screen and (        min-device-pixel-ratio: 2),
    screen and (             min-resolution: 192dpi), 
    screen and (             min-resolution: 2dppx) {    
       background: url($image + '@2x' + '.' + $extension) $repeat $position;
       background-size: $width $height;
    }
}
@mixin imgOnlyRetina($image, $extension ) {
  background-image: url($image + '.' + $extension);
       
  @media 
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (   min--moz-device-pixel-ratio: 2),
  screen and (   -moz-min-device-pixel-ratio: 2),
  screen and (     -o-min-device-pixel-ratio: 2/1),
  screen and (        min-device-pixel-ratio: 2),
  screen and (             min-resolution: 192dpi), 
  screen and (             min-resolution: 2dppx) {    
     background-image: url($image + '@2x' + '.' + $extension);
  }
}

@mixin imgRetinaGradient($image, $extension, $width, $height,$direction, $from, $to, $position: center, $repeat: no-repeat) {
  background-image: linear-gradient($direction, $from, $to), url($image + '.' + $extension);
  background-position: $position;
  background-repeat: $repeat;
       
  @media 
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (   min--moz-device-pixel-ratio: 2),
  screen and (   -moz-min-device-pixel-ratio: 2),
  screen and (     -o-min-device-pixel-ratio: 2/1),
  screen and (        min-device-pixel-ratio: 2),
  screen and (             min-resolution: 192dpi), 
  screen and (             min-resolution: 2dppx) {    
     //background-image: url($image + '@2x' + '.' + $extension) $repeat $position, linear-gradient(to bottom, red,blue);
     background-image: linear-gradient($direction, $from, $to), url($image + '@2x' + '.' + $extension) ;
     background-size: $width $height;
  }
}

@mixin gradientText($direction, $from, $to) {
    @include background-image(linear-gradient($direction, $from, $to));
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;

}

$mobile-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;



@mixin mobile {
	@media (max-width: #{$tablet-width - 1px}) {
		@content;
	}
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin handheld {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}