.site-content {
    //min-height: 60vh;
}

@include desktop {
    .desktop-wrap {
       // max-width: $desktop-max-width;
        padding: 0px 86px;
        margin: 0 auto;
    } 
}
.article-page {
    p {
        margin: 16px 0px;
    }
    h1 {
        font-weight: bold;
        font-size: 3rem;
        line-height: 1.4;
    }
    h2 {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 1.4;
    }
    h3 {
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.4;
    }
    .entry-header {
        text-align: center;
    }
    .entry-content {
        min-height: 50vh;
    }
}