//All colors

$primary: #42436a;
$primaryblue: #02003b;
$primaryyellow: #fac700;


$red100: $primary;
$red80: #d14041;
$red60: #dc7071;
$red40: #e89fa0;
$red20: #f3cfd0;
$red10: #f9e7e7;
$red05: #fcf3f3;

$blue100: $primaryblue;
$blue90: #1b1a4e;
$blue80: #353362;
$blue60: #676689;
$blue40: #9a99b1;
$blue20: #ccccb8;
$blue10: #e5e5eb;
$blue05: #f2f2f5;

$purple60: #9053e4;
$purple100: #1f0099;
$textprimary: #0a082e;
$textprimary80: #353362;
$textprimary60: #676689;

$tournamentyellow: #fbe181;

$teal: #09a189;
$palegray: #e5e5eb;
    
// font family

$base-font-family: 'Barlow', system-ui, Arial, sans-serif;


// widths

$desktop-max-width: 1170px;
$desktop-min-width: 770px;
$desktop-page-width: 980px;
$mobileHeaderHeight: 58px;
$desktopHeaderHeight: 79px;

// z-index

$headerZIndex: 5;
$offerZIndex: 4;
$modalZIndex: 6;

$ASSETPATH :  "";
$ASSETIMAGEPATH: "//cdn.rummyculture.com/website/img";
//$ASSETIMAGEPATH: "assets/images";