.page-template-video {
    background-image: radial-gradient(circle at 50% 42%, #1f0099, #0b0038);
}
.video-page-content {
    .video-final-preview {
        display: none;
    }

    @include desktop {
        margin: 0px 100px;
        .video-content {
            display: block;
            width: 900px;
            margin: 70px auto 0px auto;
            position: relative;
        }
        .video-el {
            width: 100%;
            margin-bottom: 30px;
        }
        .video-preview {
            position: absolute;
            right: 30px;
            bottom: 70px;
            width: 200px;
            height: 200px;
            display: none;
        }
        .stop-recording-btn {
            display: none;
        }
        .preview-section {
            display: none;
        }
        .preview-desc {
            color: #fff;
            font-size: 2.6rem;
            line-height: 3.9rem;
            margin-bottom: 21px;
        }
        .btn {
            margin-right: 20px;
        }
        .re-record-desc {
            float: right;
            color: #fff;
            margin-top: 10px;
        }
        .re-record-link {
            color: $primaryyellow;
            cursor: pointer;
            margin-left: 10px;

        }
        .upload-status {
            border-radius: 4px;
            
        }
        .upload-status-c {
            background-color: #fff;
            padding: 50px 0px;
            text-align: center;
            width: 465px;
        }
        .upload-title {
            font-size: 2.6rem;
            line-height: 1.38;
            color: #050018;
            width: 280px;
            margin-bottom: 60px;
            display: inline-block;
        }
        .status-svg {
            width: 150px;
            height: 150px;
        }
        .upload-desc {
            

            font-size: 1.6rem;
            line-height: 2.7rem;
            color: rgba(#050018, 0.6);
            width: 280px;
            display: inline-block;
            margin-top: 90px;
        }
    }

    @include handheld {
        margin: 0px 20px;
        min-height: 95vh;
        position: relative;
        .video-content {
            display: block;
            width: 100%;
            margin: 20px auto 0px auto;
        }
        .video-el {
            width: 100%;
            margin-bottom: 30px;
        }
        .video-preview {
            position: absolute;
            right: calc(50% - 100px);
            bottom: 70px;
            width: 200px;
            height: 200px;
            display: none;
        }
        .recording-btn {
            position: absolute;
            left: calc(50% - 120px);
            bottom: 10px;
        }
        .stop-recording-btn {
            display: none;
        }
        .preview-section {
            display: none;
        }
        .preview-desc {
            color: #fff;
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 16px;
        }
        .btn {
            margin-right: 20px;
        }
        .re-record-desc {
            color: #fff;
            margin-top: 40px;
            display: block;
        }
        .re-record-link {
            color: $primaryyellow;
            cursor: pointer;
            display: block;
            text-transform: uppercase;

        }

        .upload-status {
            border-radius: 4px;
        }
        .upload-status-c {
            background-color: #fff;
            padding: 35px 0px;
            text-align: center;
        }
        .upload-title {
            font-size: 1.8rem;
            line-height: 1.38;
            color: #050018;
            width: 200px;
            margin-bottom: 40px;
            display: inline-block;
        }
        .status-svg {
            width: 100px;
            height: 100px;
        }
        .upload-desc {
            

            font-size: 1.2rem;
            line-height:1.8rem;
            color: rgba(#050018, 0.6);
            width: 200px;
            display: inline-block;
            margin-top: 60px;
        }
    }
}